{% extends 'base.html' %}
{% block content %}

<h4>Edit Nilai - {{ alternatif.nama_alternatif }}</h4>

<form method="POST">
  {% for item in nilai_list %}
  <div class="mb-3">
    <label>{{ item.nama_kriteria }}</label>
    <input type="number" step="0.01" name="nilai_{{ item.id_kriteria }}" value="{{ item.nilai }}" class="form-control" required>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Simpan Perubahan</button>
  <a href="{{ url_for('nilai') }}" class="btn btn-secondary">Kembali</a>
</form>

{% endblock %}
