{% extends 'base.html' %}
{% block content %}
<h4>Daftar Alternatif</h4>

<form method="POST" action="/alternatif/add" class="mb-3">
    <input type="text" name="nama" placeholder="Nama Alternatif" required>
    <button type="submit">Tambah</button>
</form>

<table class="table">
    <tr><th>Nama</th><th>Aksi</th></tr>
    {% for a in data %}
    <tr>
        <form method="POST" action="/alternatif/edit/{{ a.id }}">
            <td><input name="nama" value="{{ a.nama_alternatif }}"></td>
            <td>
                <button class="btn btn-sm btn-warning" type="submit">Update</button>
                <a href="/alternatif/delete/{{ a.id }}" class="btn btn-sm btn-danger" onclick="return confirm('Hapus data ini?')">Hapus</a>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}
